h2{
	padding: 30px;
	margin: 20px;
}

.grad1{
	background: rgb(224,255,0);
background: linear-gradient(90deg, rgba(224,255,0,1) 0%, rgba(107,237,135,1) 51%, rgba(0,212,255,1) 100%);	
}
.grad2{
	background: rgb(255,0,219);
background: linear-gradient(0deg, rgba(255,0,219,1) 0%, rgba(30,31,242,1) 27%, rgba(243,144,21,1) 48%, rgba(15,235,244,1) 64%, rgba(31,255,0,1) 100%);
}

.grad3{
	background: rgb(241,42,42);
background: radial-gradient(circle, rgba(241,42,42,1) 0%, rgba(243,144,21,1) 48%, rgba(245,255,0,1) 100%);
}